.list {
    color: #4a4a4a;
    flex-direction: column;
    display: flex;
}
.list.has-hidden-images .list-item-image {
    display: none;
}
.list.has-hoverable-list-items .list-item:hover {
    background-color: #fafafa;
}
.list.has-overflow-ellipsis .list-item-content {
    min-width: 0;
    max-width: calc(var(--length) * 1ch);
}
.list.has-overflow-ellipsis .list-item-content > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (hover: hover) {
    .list:not(.has-visible-pointer-controls) .list-item-controls {
        opacity: 0;
        visibility: hidden;
    }
}
.list-item {
    align-items: center;
    transition: background-color 0.125s ease-out;
    display: flex;
    position: relative;
}
@media (hover: hover) {
    .list-item:hover .list-item-controls,
    .list-item:focus-within .list-item-controls {
        opacity: initial;
        visibility: initial;
    }
}
.list-item:not(.box) {
    padding: 0.75em;
}
.list-item:not(:last-child):not(.box) {
    border-bottom: 1px solid #dbdbdb;
}
.list-item-image {
    flex-shrink: 0;
    margin-right: 0.75em;
}
@media screen and (max-width: 768px) {
    .list-item-image {
        padding: 0.5rem 0;
    }
}
.list-item-content {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .list-item-content {
        padding: 0.5rem 0;
    }
}
.list-item-title {
    color: #363636;
    font-weight: 600;  
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item-description {
    color: #7a7a7a;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item-controls {
    flex-shrink: 0;
    transition: opacity 0.125s ease-out;
}
@media screen and (max-width: 768px) {
    .list-item-controls {
        padding: 0.5rem 0;
    }
}
@media screen and (min-width: 769px), print {
    .list-item-controls {
        padding-left: 0.75em;
    }
    .list:not(.has-visible-pointer-controls) .list-item-controls {
        height: 100%;
        align-items: center;
        padding-right: 0.75em;
        display: flex;
        position: absolute;
        right: 0;
    }
}
