@charset "utf-8";

.list-item {
    flex-wrap:unset;
}

.list-item-content {
    overflow: hidden;
}

.list-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
}