@charset "utf-8";

@media screen and (min-width: 1024px) {
    .login-form {
        max-width: 500px;
    }
}

.navbar-item.is-active {
    border-bottom: 2px solid #888;
}

ul.log-viewer {
    max-height: 500px;
    overflow: scroll;

    li {
        padding: 4px 8px;
        font-family: monospace;

        border-bottom: 1px solid #ddd;
    }

    span.timestamp {
        margin-right: 10px;
    }

    span.fields {
        color: #999;
        margin-right: 10px;
    }

    span.logmessage {
        margin-right: 10px;
    }

    span.loglevel {
        margin-right: 10px;
        font-weight: bold;

        &.debug {
            color: #959;
        }
        &.info {
            color: #333;
        }
        &.warn {
            color: #f90;
        }
        &.error {
            color: #f00;
        }
        &.trace {
            color: #159;
        }
    }
}