.logo {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
}

.heading-text,
.logo {
    font-family: "Merriweather Sans", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 1.7rem;
    margin-top: 2.5rem;
}

h2 {
    font-weight: 800;
}

pre {
    border-radius: 0.5rem;
}

.content code {
    font-size: 1.1rem;
}

.nav-item {
    margin: 0 0.6rem;
    font-size: 1.4rem;
}